<mat-card>
  <mat-card-header>
    <mat-card-title>{{ heroes.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroes.alter_ego }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="assets/heroes/{{ heroes.id }}.jpg" alt="hero image">

  <mat-card-content>
    <h3>{{heroes.publisher}}</h3>
    <p>
      <strong>Primera aparición</strong>
      {{ heroes.first_appearance}}
      <br>
      <strong>Personajes: {{ heroes.characters }}</strong>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="warn">Leer Más...</button>
    <button mat-button color="info">Editar</button>
  </mat-card-actions>
</mat-card>
